In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
import re
from webdriver_manager.chrome import ChromeDriverManager
from time import sleep
from selenium import webdriver
from bs4 import BeautifulSoup

In [10]:
df1 = pd.read_csv("Book1.csv", sep=";")
df1

                                                place   latitude  longitude
0                     Palácio Real de Madrid, Espanha  40.417755  -3.714083
1                             Museu do Prado, Espanha  40.413822  -3.692235
2                          Parque del Retiro, Espanha  40.414543  -3.683596
3                   Museu Thyssen-Bornemisza, Espanha  40.416160  -3.694800
4   Museu Nacional Centro de Arte Reina Sofia, Esp...  40.408530  -3.693914
5                              Museu Sorolla, Espanha  40.435505  -3.692508
6                                   Gran Via, Espanha  40.421760  -3.708350
7                                Plaza Mayor, Espanha  40.415512  -3.707401
8                Museo Arqueologico Nacional, Espanha  40.423330  -3.688706
9                        Barrio de Salamanca, Espanha  40.429058  -3.674250
10                                 La Latina, Espanha  40.412186  -3.708109
11                          Plaza de Cibeles, Espanha  40.420300  -3.691410
12                    Parque Madrid R\u00EDo, Espanha  40.399610  -3.712749
13                        Palacio De Cristal, Espanha  40.413540  -3.682260
14                     Parque de El Capricho, Espanha  40.454460  -3.600070
15                                  Malasana, Espanha  40.428800  -3.704550
16                            Puerta del Sol, Espanha  40.417020  -3.703547
17                            Museo Cerralbo, Espanha  40.423770  -3.714590
18                        Palacio de Cibeles, Espanha  40.419010  -3.692180
19              Plaza de Toros de Las Ventas, Espanha  40.431520  -3.662840
20                      Barrio de Las Letras, Espanha  40.413540  -3.698220
21  Real Basilica de San Francisco el Grande, Espanha  40.410840  -3.714480
22                           Templo de Debod, Espanha  40.424004  -3.717760
23  Catedral de Sta Maria la Real de la Almudena, ...  40.415540  -3.713670
24                           Paseo del Prado, Espanha  40.417970  -3.692660
25                        Plaza de Santa Ana, Espanha  40.414650  -3.701340
26                     Museo Lazaro Galdiano, Espanha  40.437030  -3.685992
27                        Estacion de Atocha, Espanha  40.407173  -3.692255
28                          Plaza de Oriente, Espanha  40.418873  -3.711986
29                             Casa de Campo, Espanha  40.419743  -3.748840
30    Iglesia de San Antonio de Los Alemanes, Espanha  40.422382  -3.703806
31                      Mercado de San Antón, Espanha  40.422080  -3.697580

In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
import re
from webdriver_manager.chrome import ChromeDriverManager
from time import sleep
from selenium import webdriver
from bs4 import BeautifulSoup

In [2]:
df1 = pd.read_csv("my_test1.csv")
df2 = pd.read_csv("my_test.csv")
df = pd.concat([df1,df2])

In [3]:
loc = Nominatim(user_agent="GetLoc")
df.columns = ["address","name","link"]
df['link'] = 'https://www.tripadvisor.com' + df['link'].astype(str)

In [4]:
df = df.head()

,address,name,link
0,0,1. Prado National Museum,https://www.tripadvisor.com/Attraction_Review-...
1,1,2. Parque del Retiro,https://www.tripadvisor.com/Attraction_Review-...
2,2,3. Santiago Bernabeu Stadium,https://www.tripadvisor.com/Attraction_Review-...
3,3,4. Royal Palace of Madrid,https://www.tripadvisor.com/Attraction_Review-...
4,4,5. Museo Nacional Thyssen-Bornemisza,https://www.tripadvisor.com/Attraction_Review-...

In [26]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.implicitly_wait(30)

location_names = []

for link in df.link:
    
    driver.get(link)
    bsobj = BeautifulSoup(driver.page_source, 'html.parser')

    script_coord = 0
    
    cumprimento = len(bsobj.find_all("script"))
    
    for i in range(cumprimento):
        skript = bsobj.find_all("script")[i].text
        if str("atitude") in skript:
            script_coord = i
            print(i)
        else:
            pass
        
    coord = str(bsobj.find_all("script")[script_coord])
#     coord = coord.split("postalCode")[1].split("aggregateRating")[0]
    
#     df.loc[df["link"]==link,"postcode"] = re.findall(r'\d+', coord)

====== WebDriver manager ======
Current google-chrome version is 106.0.5249
Get LATEST chromedriver version for 106.0.5249 google-chrome
Driver [/Users/ericsonmarques/.wdm/drivers/chromedriver/mac64/106.0.5249.61/chromedriver] found in cache

In [6]:
df['postcode'] = 'Spain, Madrid, ' + df['postcode'].astype(str)
df

,address,name,link,postcode
0,0,1. Prado National Museum,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28014"
1,1,2. Parque del Retiro,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28001"
2,2,3. Santiago Bernabeu Stadium,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28036"
3,3,4. Royal Palace of Madrid,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28071"
4,4,5. Museo Nacional Thyssen-Bornemisza,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28014"

In [24]:
loc.geocode("Spain, Madrid, 28014")
link
# loc.geocode(df[df["postcode"]==link])
df[df["postcode"]==link]

,address,name,link,postcode
0,None,1. Prado National Museum,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28014"
4,None,5. Museo Nacional Thyssen-Bornemisza,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28014"

In [20]:
for link in df.postcode:

    try:
        getLoc    = loc.geocode(df[df["postcode"]==link])
        df.loc[df["link"]==link,"address"] = getLoc
        df.loc[df["link"]==link,"latitude"] = getLoc.latitude
        df.loc[df["link"]==link,"longitude"] = getLoc.longitude


    except:
        pass

In [21]:
df

,address,name,link,postcode
0,None,1. Prado National Museum,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28014"
1,None,2. Parque del Retiro,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28001"
2,None,3. Santiago Bernabeu Stadium,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28036"
3,None,4. Royal Palace of Madrid,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28071"
4,None,5. Museo Nacional Thyssen-Bornemisza,https://www.tripadvisor.com/Attraction_Review-...,"Spain, Madrid, 28014"

In [9]:
asdasdas

NameError: name 'asdasdas' is not defined

In [ ]:
df.to_csv("my_map.csv")

In [ ]:
df[df['longitude']!=0].to_csv("my_map.csv")