In [ ]:
# libs
import pandas as pd
import math
from itertools import combinations
import gurobipy as gp
from gurobipy import GRB

# read data
df_original = pd.read_csv('barcelona.csv', index_col=[0])

# coordinates
coordinates = df_original.set_index(
    'title')[['lat', 'lng']].apply(tuple, axis=1).to_dict()

# capitals
capitals = list(df_original['title'])

# Compute pairwise distance matrix


def distance(city1, city2):
    c1 = coordinates[city1]
    c2 = coordinates[city2]
    diff = (c1[0]-c2[0], c1[1]-c2[1])
    return math.sqrt(diff[0]*diff[0]+diff[1]*diff[1])


dist = {(c1, c2): distance(c1, c2) for c1, c2 in combinations(capitals, 2)}

# tested with Python 3.7 & Gurobi 9.0.0
m = gp.Model()

# Variables: is city 'i' adjacent to city 'j' on the tour?
vars = m.addVars(dist.keys(), obj=dist, vtype=GRB.BINARY, name='x')

# Symmetric direction: Copy the object
for i, j in vars.keys():
    vars[j, i] = vars[i, j]  # edge in opposite direction

# Constraints: two edges incident to each city
cons = m.addConstrs(vars.sum(c, '*') == 2 for c in capitals)

# Callback - use lazy constraints to eliminate sub-tours


def subtourelim(model, where):
    if where == GRB.Callback.MIPSOL:
        # make a list of edges selected in the solution
        vals = model.cbGetSolution(model._vars)
        selected = gp.tuplelist((i, j) for i, j in model._vars.keys()
                                if vals[i, j] > 0.5)
        # find the shortest cycle in the selected edge list
        tour = subtour(selected)
        if len(tour) < len(capitals):
            # add subtour elimination constr. for every pair of cities in subtour
            model.cbLazy(gp.quicksum(model._vars[i, j] for i, j in combinations(tour, 2))
                         <= len(tour)-1)

# Given a tuplelist of edges, find the shortest subtour


def subtour(edges):
    unvisited = capitals[:]
    cycle = capitals[:]  # Dummy - guaranteed to be replaced
    while unvisited:  # true if list is non-empty
        thiscycle = []
        neighbors = unvisited
        while neighbors:
            current = neighbors[0]
            thiscycle.append(current)
            unvisited.remove(current)
            neighbors = [j for i, j in edges.select(current, '*')
                         if j in unvisited]
        if len(thiscycle) <= len(cycle):
            cycle = thiscycle  # New shortest subtour
    return cycle


m._vars = vars
m.Params.lazyConstraints = 1
m.optimize(subtourelim)

vals = m.getAttr('x', vars)
selected = gp.tuplelist((i, j) for i, j in vals.keys() if vals[i, j] > 0.5)
tour = subtour(selected)
assert len(tour) == len(capitals)

In [ ]:
import folium

In [ ]:
points = []
for city in tour:
    points.append(coordinates[city])
points.append(points[0])


map = folium.Map(location=[41.364548, 2.17611], zoom_start=12.5)

folium.PolyLine(points).add_to(map)

for lats, lons in [list(tup) for tup in points]:
    map.add_child(folium.CircleMarker(
        location=[lats, lons],
        radius=4,
        color="green",
        fill=True,
        fill_opacity=1))

---
# sqlalchemy

# ORM PLACES

In [ ]:
from models import Base, User, Routes, Places
from database import session

In [ ]:
# country = ['spain','spain','spain','spain','spain']
# state = [None,None,None,None,None] 
# city = ['barcelona','barcelona','barcelona','barcelona','barcelona']
# placename = ['1. Basílica de la Sagrada Familia', '2. Gothic Quarter (Barri Gotic)', '3. Casa Batlló', '4. Palace of Catalan Music', '5. Casa Milà - La Pedrera']
# lat = [41.403423, 41.3827, 41.391712, 41.387573, 41.395325]
# lng = [2.174611, 2.177113, 2.164824, 2.175302, 2.161925]

In [ ]:
# import pandas as pd
# dd = pd.read_csv('barcelona.csv')
# country = 'spain'
# state = None
# city = 'barcelona'
# placename = list(dd['title'])
# lat = list(dd['lat'])
# lng = list(dd['lng'])

In [ ]:
from sqlalchemy.sql import select, func
import pandas as pd
from models import Base, User, Routes, Places
from database import session
usersid=1

places = Base.metadata.tables['places']
comments = Base.metadata.tables['comments']

# Create SQL
sql_query = session.query(
    places.c.id,
    places.c.placename,
    places.c.lat,
    places.c.lng,
    func.coalesce(comments.c.routestatus, 'ToDo'),
).join(comments, comments.c.placesid == places.c.id and comments.c.usersid=={1} , isouter=True)

# Apply SQL
places_comments = sql_query.all()

# Define Tables
routes = Base.metadata.tables['routes']

# Create SQL
sql_query = session.query(
    routes.c.routename,
    routes.c.usersid,
    routes.c.placesid
).filter_by(usersid=usersid)

# Apply SQL
routename = sql_query.all()

# transform to pandas
my_keys=['routename', 'usersid', 'placesid']

# ORM USERS

In [ ]:
username = ["davidson","church","harrington","cabrera","bradford","olson","silva","ware","mcclure","whitney",]
password = ["X8tfPXE6nfcmQlJO","u5^21-$58uJm5KS0","ZlQu@+&zzXe4J9ue","yWWfvy^5KGTX2A8_","5va%30=8i0X7vY67","H9n2b#S$!&Zh0sa8","4=m39O^$Ix78&jx7","787zT7o3AI3ATsc+","8_z#%J0U95Gr?v?H","1EIz91_?7~kF6tD^",]
email = ['cummerata.mossie@skiles.org','cbergnaum@block.com','swift.francesco@gmail.com','hector.stark@gmail.com','tstroman@lindgren.org','kihn.chad@gaylord.com','jose.crona@gmail.com','myron.beatty@hotmail.com','jayce82@carroll.info','casper.retta@yahoo.com']
first_name = ["Rose Bush","Paddy O’Furniture","Olive Yew","Aida Bugg","Maureen Biologist","Teri Dactyl","Peg Legge","Allie Grater","Liz Erd","A. Mused"]
last_name = ["Davidson","Church","Harrington","Cabrera","Bradford","Olson","Silva","Ware","Mcclure","Whitney",]
avatar_url = ["https://example.com/avatar.jpg","https://example.com/avatar.jpg","https://example.com/avatar.jpg","https://example.com/avatar.jpg","https://example.com/avatar.jpg","https://example.com/avatar.jpg","https://example.com/avatar.jpg","https://example.com/avatar.jpg","https://example.com/avatar.jpg","https://example.com/avatar.jpg",]

In [ ]:
my_table = Base.metadata.tables['user']

In [ ]:
# click button add new
for i in range(len(username)):
    exists = session.query(my_table).filter_by(username=username[i]).first()
    
    if exists:
        print("this register already exists")
    
    else:
        user = User(
            username = username[i],
            password = password[i],
            email = email[i],
            first_name = first_name[i],
            last_name = last_name[i],
            avatar_url = avatar_url[i]
        )
        session.add(user)
        session.commit()

In [ ]:
session.query(my_table).first()

# ORM ROUTES

In [ ]:
routename = ['routename_1','routename_1', 'routename_87']
usersid = [2,2,1]
placesid = [5,1,5]

In [ ]:
my_table = Base.metadata.tables['routes']

In [ ]:
# click button add new
for i in range(len(routename)):
    exists = session.query(my_table).filter_by(
        routename = routename[i],
        usersid = usersid[i],
        placesid = placesid[i]
    ).first()
    
    if exists:
        print("this register already exists")
    
    else:
        routes = Routes(
            routename = routename[i],
            usersid = usersid[i],
            placesid = placesid[i],
        )
        session.add(routes)
        session.commit()

In [ ]:
from models import Base, User, Routes, Places
from database import session

routename = 'to visit'
usersid = 1
# placesid = [5,3,4,2]
# interaction = len(placesid)
my_table = Base.metadata.tables['routes']


session.query(my_table).filter_by(routename=routename, usersid=usersid).all()
# session.query(my_table).filter_by(routename=routename, usersid=usersid).delete()
# session.commit()
# d = addresses_table.delete().where(addresses_table.c.retired == 1)
# d.execute()

In [ ]:
# from models import Base, User, Routes, Places
# from database import session

# routename = 'routename_1'
# usersid = 1
# placesid = [5,3,4,2]
# interaction = len(placesid)

# my_table = Base.metadata.tables['routes']
# print(session.query(my_table).all())

# exists = session.query(my_table).filter_by(routename=routename, usersid=usersid).first()

# if exists:
#     print("This register already exists, what you wanna do?")
#     print()


#     print("Add?")
#     for i in range(interaction):
#         exists = session.query(my_table).filter_by(placesid=placesid[i], routename=routename, usersid=usersid).first()

#         if exists:
#             print("xpto")
#         else:
#             routes = Routes(
#                 routename = routename,
#                 usersid = usersid,
#                 placesid = placesid[i],
#             )
#             session.add(routes)
#             session.commit()

#     print("Replace?")
#     session.query(my_table).filter_by(routename=routename, usersid=usersid).delete()
#     for i in range(interaction):
#         routes = Routes(
#             routename = routename,
#             usersid = usersid,
#             placesid = placesid[i],
#         )
#         session.add(routes)
#         session.commit()
    
#     print("Delete?")
#     session.query(my_table).filter_by(routename=routename, usersid=usersid).delete()

# else:
#     for i in range(interaction):
#         routes = Routes(
#             routename = routename,
#             usersid = usersid,
#             placesid = placesid[i],
#         )
#         session.add(routes)
#         session.commit()

## handling this sqlalchemy

In [ ]:
import sqlalchemy as db

hostname="localhost"
dbname="travel_optimization"
uname="root"
pwd='318586Em!'

engine = db.create_engine(f"mysql+pymysql://{uname}:{pwd}@{hostname}/{dbname}")
connection = engine.connect()
metadata = db.MetaData()
user = db.Table('user', metadata, autoload=True, autoload_with=engine)

In [ ]:
query = db.select([user])
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultProxy.close()
ResultSet[-5:]

In [ ]:
#Inserting record one by one
query = db.insert(routefilter).values(routefilter='routefiltesr', usersid=2, placesid=7)
ResultProxy = connection.execute(query)
ResultProxy.close()

In [ ]:
# Build a statement to update
db.update(routefilter).values(routefilter = 'to be removed').where(routefilter.columns.routefilter == 'routefiltesr')
ResultProxy = connection.execute(query)
ResultProxy.close()

In [ ]:
# Build a statement to delete
query = db.delete(routefilter).where(routefilter.columns.routefilter == 'routefilter')
ResultProxy = connection.execute(query)
ResultProxy.close()

In [ ]:
results = connection.execute(db.select([routefilter])).fetchall()
import pandas as pd
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.tail()

In [ ]:
models.Articles.query.filter_by(title=art_tile).first()

In [ ]:
db.insert(routefilter).values(routefilter='routefiltesr', usersid=2, placesid=7)
query = db.insert(routefilter).values(routefilter='routefiltesr', usersid=2, placesid=7)
ResultProxy = connection.execute(query)

## more handling this sqlalchemy

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, select
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd

In [ ]:
hostname="localhost"
dbname="travel_optimization"
uname="root"
pwd='318586Em!'
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))
engine.table_names()

In [ ]:
sql = "select * from user"
user = pd.read_sql(sql,con=engine)
user

# delete rows

In [ ]:
from sqlalchemy import delete
metadata = MetaData(bind=None)
routefilter = Table(
    'routefilter', 
    metadata, 
    autoload=True, 
    autoload_with=engine)

stmt = delete(routefilter).where((routefilter.c.usersid == 2) & (
    (routefilter.c.routefilter == "a") or
    (routefilter.c.routefilter == "e")
))
engine.connect().execute(stmt)


sql = f"select * from routefilter where usersid = 2"
myfilters = pd.read_sql(sql, con=engine)
myfilters

# drop

In [ ]:
def drop_table(table_name, engine=engine):
    base = declarative_base()
    metadata = MetaData()
    metadata.reflect(bind=engine)
    table = metadata.tables.get(table_name)
    if table is not None:
        base.metadata.drop_all(engine, [table], checkfirst=True)
drop_table('places')

In [ ]:
engine.table_names()

# pandas to sql

In [ ]:
sql = "select * from places"
df = pd.read_sql(sql,con=engine)
df

In [ ]:
# Convert dataframe to sql table                                   
df.to_sql('places_copy', engine, if_exists='append', index=False)

In [ ]:
sql = "select * from routefilter"
pd.read_sql(sql,con=engine)

# [read table](https://docs.sqlalchemy.org/en/20/tutorial/data_update.html)

In [ ]:
metadata = MetaData(bind=None)
table = Table(
    'places_copy', 
    metadata, 
    autoload=True, 
    autoload_with=engine
)

stmt = select(
    table.columns.country,
    table.columns.state)
# .where(and_(
#     table.columns.column1 == 'filter1',
#     table.columns.state == 'filter2'
# ))

connection = engine.connect()
results = connection.execute(stmt).fetchall()

In [ ]:
pd.DataFrame(results)

# close connection

In [ ]:
db = engine
for i in range(1,2000):
    conn = db.connect()
    #some simple data operations
    conn.close()
db.dispose()

In [ ]:
usersid=2
sql = f"""
select
    places.placesid,
    places.place,
    places.lat,
    places.lng,
    ifnull(comments.status, 'ToDo') as status
from places as places

left join comments as comments
on places.placesid=comments.placesid
AND comments.usersid={usersid}
"""
df_original = pd.read_sql(sql, con=engine)
df_original = df_original.rename(columns={'place': 'title'})

df_original.head()

In [ ]:
sql = f"select * from routefilter where usersid = {1}"
myfilters = pd.read_sql(sql, con=engine)
myfilters.head()

In [ ]:
# df = pd.DataFrame({
#     "routefilter": "test5",
#     "usersid": 2,
#     "placesid": [4, 22, 11, 3, 24],
# })
# df

# route filter data
sql = "select * from routefilter where usersid = 1"
myfilters = pd.read_sql(sql, con=engine)
filter_names = list(myfilters['routefilter'].unique())
route_filter='test5'

chosen_filter = myfilters[myfilters['routefilter'] == route_filter]['placesid'].to_list()
filter_names

In [ ]:
from sqlalchemy import delete
metadata = MetaData(bind=None)
routefilter = Table(
    'routefilter', 
    metadata, 
    autoload=True, 
    autoload_with=engine)

# stmt = delete(routefilter).where((routefilter.c.usersid == 2) & (
#     (routefilter.c.routefilter == "a") or
#     (routefilter.c.routefilter == "e")
# ))
# engine.connect().execute(stmt)


sql = f"select * from routefilter where usersid = 1"
myfilters = pd.read_sql(sql, con=engine)
myfilters.head()

In [ ]:
exists = models.Articles.query.filter_by(title=art_tile).first()
# if not exists:
#     art = models.Articles(title=art_title, date=datum, description=words, url=adresse, status=1)
#     db.session.add(art)
#     db.session.commit()

In [ ]:
# def meuteste(df):
#     tour, coordinates = model.model_TSP(df)
#     points = []
#     for city in tour:
#         points.append(coordinates[city])
#     points.append(points[0])


#     map = folium.Map(location=[41.364548, 2.17611], zoom_start=12.5)

#     folium.PolyLine(points).add_to(map)

#     for lats, lons in [list(tup) for tup in points]:
#         map.add_child(folium.CircleMarker(
#             location=[lats, lons],
#             radius=4,
#             color="green",
#             fill=True,
#             fill_opacity=1))
#     return map

# import model
# meuteste(df_original)

In [ ]:
place_lat = [37.4601928, 37.4593108, 37.4641108, 37.4611508]
place_lng = [126.4406957, 126.4432957, 126.4476917, 126.4423957]

points = []
for i in range(len(place_lat)):
    points.append([place_lat[i], place_lng[i]])
points

In [ ]:
asasasdsadas

In [ ]:
ahgshafs = ['a','b','c']


'd' not in ahgshafs

In [ ]:
import geocoder
g = geocoder.ip('me')
print(g.latlng)

In [ ]:
import numpy as np
from bokeh.plotting import Figure, show, curdoc
from bokeh.models import CustomJS, ColumnDataSource, Button, Column
from bokeh.events import Tap

cds = ColumnDataSource(data = dict(x = [0.1, 0.9], y = [0.1, 0.9]))
p = Figure(x_range = (0, 1), y_range = (0, 1), tools = "")
p.scatter(x = 'x', y = 'y', source = cds)

data = dict(x = [0.5], y = [0.5])
callback = CustomJS(args = {'cds': cds, 'data': data}, code = "cds.data = data")

button = Button(label = 'click me')
button.js_on_event('button_click', callback)

cds.js_on_change('data', CustomJS(code = "alert('data_change_detected');"))

show(Column(p, button))

In [ ]:
# sql = "select * from places"
# places = pd.read_sql(sql,con=engine)
places = pd.read_csv('barcelona.csv', index_col=[0])
places = places[['title','lat','lng']]
places = places.reset_index()
places.columns = ['placesid','title', 'lat', 'lng']
places.head()

In [ ]:
sql = "select * from routefilter where usersid = 1"
myfilters = pd.read_sql(sql, con=engine)
myfilters

In [ ]:
routefilter = 'TESTANDO'
usersid = 2
placesid = [4, 22, 11, 3, 24]
    
df = pd.DataFrame({
    "routefilter": routefilter,
    "usersid": usersid,
    "placesid": placesid,
})
df

In [ ]:
places_copy.loc[places_copy["placesid"]==7, "comment"] = 'my first comment'
places_copy.loc[places_copy["placesid"]==20, "comment"] = 'my second comment'
places_copy

In [ ]:
print(places_copy.loc[places_copy["placesid"]==7]['placesid'])
print(places_copy.loc[places_copy["placesid"]==7]['comment'])

In [ ]:
sql = "select * from comments"
comments = pd.read_sql(sql,con=engine)
comments.head()

In [ ]:
sql = "select * from routefilter"
users = pd.read_sql(sql,con=engine)
users.head()

In [ ]:
sql = """
select * 
from places as places

left join comments as comments
on places.placesid=comments.placesid
AND comments.usersid=2

left join users as users
on users.usersid=comments.usersid

"""
pd.read_sql(sql,con=engine).head(2)

In [ ]:
sql = """
select * 
from places as places

left join comments as comments
on places.placesid=comments.placesid
AND comments.usersid=2

left join users as users
on users.usersid=comments.usersid

"""
pd.read_sql(sql,con=engine).head(2)

In [ ]:
places[places['placesid'].isin(df['order'][0])]

In [ ]:
grind = pd.read_csv('barcelona.csv', index_col=[0]).reset_index()
grind = grind[['All']].rename(columns={'All':'order'})
grind = grind.reset_index().rename(columns={'index':'placesid'})
grind['usersid']=1
grind['ordername']='all'
grind.head()

In [ ]:
df = pd.merge(grind,users)
df = pd.merge(df,places)
df

In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file('file.json')
project_id = 'python-221322'
client = bigquery.Client(credentials= credentials,project=project_id)

query_job = client.query("""
    SELECT * 
    FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations` 
    LIMIT 5
""")

results = query_job.result()
df = results.to_dataframe()
df

,station_id,name,status,address,alternate_name,city_asset_number,property_type,number_of_docks,power_type,footprint_length,footprint_width,notes,council_district,modified_date
0,2538,Bullock Museum @ Congress & MLK,closed,1881 Congress Ave.,None,NaN,None,NaN,None,NaN,NaN,None,1,2021-01-04 12:00:00+00:00
1,2541,State Capitol @ 14th & Colorado,closed,206 W. 14th St.,None,NaN,None,NaN,None,NaN,NaN,None,1,2021-01-04 12:00:00+00:00
2,2545,ACC - Rio Grande & 12th,closed,700 W. 12th St.,None,NaN,None,NaN,None,NaN,NaN,None,9,2021-01-04 12:00:00+00:00
3,2546,ACC - West & 12th Street,closed,1231 West Ave.,None,NaN,None,NaN,None,NaN,NaN,None,9,2021-01-04 12:00:00+00:00
4,2564,5th & San Marcos,closed,991 East 5th,None,NaN,None,NaN,None,NaN,NaN,None,3,2021-01-04 12:00:00+00:00

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, select
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd


host='br894.hostgator.com.br:2083'
dbname='mestre09_travel_optimization'
uname='mestre09_mattosoe',
pwd='32281541Em!@#'
engine = create_engine(f"mysql+pymysql://{uname}:{pwd}@{host}/{dbname}")
engine.table_names()


# https://br894.hostgator.com.br:2083/cpsess0527248590/3rdparty/phpMyAdmin/db_structure.php?server=1&db=mestre09_travel_optimization

In [ ]:
import pymysql
connection = pymysql.connect(
    host='br894.hostgator.com.br',
    port=2083,
    user='mestre09_mattosoe',
    password='32281541Em!@#',
    db='mestre09_travel_optimization',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)
# https://br894.hostgator.com.br:2083/
cursor = connection.cursor()

In [9]:
import pymysql


CONN = pymysql.connect(
    host='11.102.0.24',
    user='mestre09_mattosoe',
    password='32281541Em!@#',
    database='mestre09_travel_optimization',
    port=2083,
    
)

# connection = pymysql.connect(
# port=2083,
# charset='utf8mb4',
# cursorclass=
# )
# # https://br894.hostgator.com.br:2083/
# cursor = connection.cursor()

OperationalError: (2003, "Can't connect to MySQL server on '11.102.0.24' (timed out)")

In [ ]:
import pandas as pd
import pymysql
conn = pymysql.connect(host='mysql_ip_address', port=3306, user='user', passwd='passwd', db='test')
sql = 'select * from test;'
data = pd.read_sql(sql, conn)